/* 
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal villan
*/


/*
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
*/

*
{
    -fx-primary : #121212;
    -fx-secondary : #FFFF8D;
    -fx-drawarea : #282828;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.root
{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.glyph-icon:hover, .glyph-icon:focused
{
    -fx-fill: -fx-secondary;
}

.glyph-icon:pressed{
    /*-fx-effect:  dropshadow(-fx-blue, rgba(0,0,0,1.0), 10, 0, 0, 0);*/
    -fx-fill: -fx-blue;
}

.button
{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 9pt;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 9pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);

    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}


/*Main Screen CSS Styling starts here*/

/* TablPane styling*/
/*
.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 9pt; 
}

.tab-main{
    -fx-pref-height : 40;
    -fx-max-height : 40;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}

*/
/**/

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-max-width:60px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    
}
.tab-pane .tab
{
    -fx-background-color: -fx-primary;
    

}

.tab-pane .tab:selected
{
    -fx-background-color: -fx-primary;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-secondary;
}

.tab:hover .tab-label
{
    -fx-background-color: derive(-fx-primary, 5%);;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}



/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 12;
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.tool-bar {
    -fx-base: #2A2E37;
    -fx-font-size: 8pt;
    /*-fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -fx-primary 2%, #2A2E37 98%);*/
    -fx-background-color: -fx-primary;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: .9em 0.416667em .9em 0.416667em;*/
    /*-fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);*/
}

.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/* Scrollpane */
.scroll-pane > .viewport  
{ 
    -fx-background-color: -fx-drawarea; 
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* Title Pane */

.titled-pane 
{
    -fx-skin: "javafx.scene.control.skin.TitledPaneSkin";    
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
    -fx-text-fill: -fx-primarytext;
}
.titled-pane > .title 
{
    -fx-background-color: -fx-primary;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
    -fx-color: white;
}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color: -fx-drawarea;
    -fx-border-color: -fx-secondary;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
    -fx-background-color: white;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: white;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}

/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: derive(-fx-primary, 30%);
    -fx-border-color: derive(-fx-primary, 30%);
}
.chart-pie-label
{
    -fx-fill : derive(-fx-secondary, -5%);
}

/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}

/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px; 
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;  
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}


/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-color-1;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;   
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available 
{
    -fx-background-radius: 5px;
    -fx-fill: derive(blue, 80%);
    -fx-cursor: hand;
}

/*Checkbox*/

.checkbox-main{
    -fx-text-fill: -fx-secondary; 
    -jfx-checked-color: -fx-primary;
    -fx-font-size: 10pt;
}

/*Progrss bar*/

.progress-bar-main .track{
    -fx-background-color: -fx-primary;
}
.progress-bar-main .bar{
    -fx-background-color: -fx-secondary;
    -fx-padding: 5px;
}

.common-label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}

/*Alert Dialog*/

.custom-alert{
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}
.custom-alert > *.button-bar > *.container{
    -fx-background-color: -fx-primary;
}
.custom-alert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel{
    -fx-background-color: -fx-blue;
}
.custom-alert:header  .header-panel .label {
    -fx-font-style: normal;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-primary;
}